<html>
    <head>
        <title>Title</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>IT Academy</h1>
        <h2>Panier</h2>
        <form action="/cart" method ="POST">
            <input class="cart-input" type="submit" value="Finaliser l'inscription" >
            <input class="cart-input" type="submit" value="Retourner au catalogue de formation" formaction="/">
        </form>
        <table>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>Nom</td>
                    <td>Prix</td>
                    <td>Début</td>
                    <td>Fin</td>
                    <td></td>
                </tr>
                <% for (let i = 0; i < formations.length; i++) { %>
                <tr>
                    <td><%= formations[i].idformation %></td>
                    <td><%= formations[i].name %></td>
                    <td><%= formations[i].price %></td>
                    <td><%= formations[i].start %></td>
                    <td><%= formations[i].end %></td>
                    <td><button id="Subscribe">S'inscrire</button></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>