<html>
    <head>
        <title>Title</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        <h1>IT Academy</h1>

        <h2>Formations disponibles</h2>

        <div>
            <form action="/cart" method="POST">
                <button class="head-button" id="Panier">Voir le panier</button>
            </form>
            <form action="/connect" method="POST">
                <button class="head-button" id="Connecter">Se connecter</button>
            </form>
        </div>

        <table>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>Nom</td>
                    <td>Prix</td>
                    <td>Début</td>
                    <td>Fin</td>
                    <td></td>
                </tr>
                <% for (let i = 0; i < formations.length; i++) { %>
                <tr>
                    <td><%= formations[i].idformation %></td>
                    <td><%= formations[i].name %></td>
                    <td><%= formations[i].price %></td>
                    <td><%= formations[i].start %></td>
                    <td><%= formations[i].end %></td>
                    <td><button id="Subscribe">S'inscrire</button></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>